@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html, body{
    background-image: url('concrete_wall.png');
    margin:0;
    padding:0;
    height:100%;
}
.footer{
    color: #ffffff;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover{
    text-decoration: underline;
    color: #8300fd;
}
.container {
    color: #ffffff;
    min-height:100%;
    position:relative;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
}
.okno{
    height: 140px;
    width: 640px;
    margin-top: 80px;
    border-width: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    border-style: solid;
    border-color: red;
    text-align: center;
}